node_modules/
dist/
.env
env
prisma/krayz.db
lavalink/logs/
lavalink/plugins/
lavalink/Lavalink.jar
*.log
logs/
database.json
database_backup.json
krayz_bot_deploy.tar.gz
bot logs.tar.gz
.maintenance
AGENTS.md
lavalink/application.yml
bot.tar.gz
create_tar.js
mrbeast_scam.png
script.js

logs.txt
Information.txt
state_backup.json
cache/
temp-musicbot/
remove_any.ts
scratch_script.ts
scratch_script2.ts
LICENSE.bak
